<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HelpForFarmer - Tools Information</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tools.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Lora:wght@400;500;600&display=swap" rel="stylesheet">
  
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-analytics.js"></script>
  <script src="{{ url_for('static', filename='js/firebase.js') }}"></script>
  <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</head>
<body>
  
  <div id="navbar-placeholder"></div>

  <div class="container">
    <h2>New Tools & Technologies</h2>
    <div id="tool-container"></div>
  </div>

  
  <div id="footer-placeholder"></div>

  <script src="{{ url_for('static', filename='js/tools.js') }}"></script>
</body>
</html>