<!DOCTYPE html>
<html lang="en">
<head>
    <title>HelpForFarmer - Storage Locator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/storage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Lora:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- Firebase SDK -->
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-analytics.js"></script>
    <script src="{{ url_for('static', filename='js/firebase.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</head>
<body>

    <div id="navbar-placeholder"></div>

    <!-- <h2>Find Nearest Cold Storage</h2> -->
    
    <div class="container">
        <h2>Find Nearest Cold Storage</h2>
        <form id="pincodeForm" action="http://localhost:5000/get-cold-storage" method="post">
            <div class="input-group">
                <label class="input-instruction">Enter PIN code to locate cold storage</label>
                <input type="text" id="pincode" name="pincode" placeholder="Enter PIN Code" required>
            </div>
            <div class="input-group">
                <label class="input-instruction">Search radius in kilometers</label>
                <div class="input-with-label">
                    <input type="number" id="radius" name="radius" value="10" min="1" max="100">
                    <span class="input-label">km</span>
                </div>
            </div>
            <button type="submit">Search</button>
        </form>
    </div>
    
    <div class="page-layout">
        <div class="map-container">
            <div id="map"></div>
        </div>
        
        <div class="content-container">
            <div class="container_2">
                <div id="result"></div>
            </div>
        </div>
    </div>

    <div id="footer-placeholder"></div>
    <!-- Google Maps API -->
    <script src="https://maps.gomaps.pro/maps/api/js?key=AlzaSyYvBvArbn9Sz3SiQIMOxRSDm1X61SZp_9j&callback=initMap" async defer></script>
    <script src="{{ url_for('static', filename='js/storage.js') }}"></script>
</body>
</html>
